<% if @properties.any? %>
  <% @properties.each do |property| %>
    <h2><%= property.postcode %></h2> 
    <h2><%= property.rent %></h2> 
    <h2><%= property.cost %></h2> 

  <% end %>
<% else %>
    No properties yet!
<% end %>

<a href='#'>Add a property</a>